*{
    font-family: "Comic Sans MS" !important;
}
a{
    text-decoration: none;
}
body {
    background: black;
    color: white;
    text-align: center;
  }
p {
    text-align:start;
}
  .pages {
    text-align: center;
  }
  .pages a {
    color: white;
    text-decoration: none;
    padding: 8px 5px;
    display: inline-block;
  }
  .pages a.active {
    background-color: blue;
    font-weight: bold;
    border-radius: 5px;
  }
  .pages a:hover:not(.active) {
    background-color: gray;
    border-radius: 5px;
  }
  
